<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>411382108281-be1518vubg5onf3tr5rit4pivg4ounu6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.411382108281-be1518vubg5onf3tr5rit4pivg4ounu6</string>
	<key>API_KEY</key>
	<string>AIzaSyCkUZHGguPa_7dsh-wR6BIxBPzGPfQRx7M</string>
	<key>GCM_SENDER_ID</key>
	<string>411382108281</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.memoiree.memoiree</string>
	<key>PROJECT_ID</key>
	<string>tutter-a99e1</string>
	<key>STORAGE_BUCKET</key>
	<string>tutter-a99e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:411382108281:ios:c3cedd8d26ace167cc44a8</string>
</dict>
</plist>